@using medGet.ViewModels
@model ProductViewModel
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="text-center mb-5">
        <h1 class="display-4 font-weight-bold">@Model.MedicineDetails.BrandName</h1>
</header>
<form>
  <div class="card border-success mb-3" style="max-width: max-content;">
  <div class="card-header text-white" style="background-color: seagreen;">BrandName</div>
  <div class="card-body">
  <h4 class="card-title">Unit Price   : @Model.MedicineDetails.Price Taka</h4>
  <h6 class="card-title">Company Name : @Model.MedicineDetails.CompanyName</h6>
  <h6 class="card-title">Medicine Type: @Model.MedicineDetails.MedicineType</h6>
  <h6 class="card-title">Suggested For: @Model.MedicineDetails.UsedFor</h6>
  </div>
  </div>
</form>
<div class="table-responsive">
        <table class="table border-1">
            <thead>
                <tr><th>Generic Elements</th><th>Quantity</th></tr>
            </thead>
            <tbody>
               @{
                foreach(KeyValuePair<string, string> valuePair in @Model.Generic_Quantity)
                {
                  <tr><td>@valuePair.Key</td><td>@valuePair.Value</td></tr>
                }
                }
             
            </tbody>
        </table>
    </div>

