@using medGet.ViewModels
@*@model IEnumerable<medGet.Models.MedicineDetails>*@
@model SearchViewModel
@{
    ViewData["Title"] = "Add Medicine Data";
}

    <div class="text-center">
        <div>
        <h4 scope="col">Update Medicine Data</h4>
        <a type="button" class="btn btn-info text-white" href="">Update Medicine Data</a>
        </div>
        <hr />
    </div>

    <form class="d-flex" asp-controller="Search" asp-action="Index" method="post">
            <input class="form-control me-sm-2" type="text" name="text" id="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" value="Index">Search</button>
    </form>
<hr />

    <table class="table table-hover">
        <thead>
            <tr>
                @*<th scope="col">Id</th>*@
                <th scope="col">Company</th>
                <th scope="col">Brand</th>
                <th scope="col">Generic</th>
                <th scope="col">Strength</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Used For</th>
                <th scope="col">DAR No.</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.MedicineDetails)
            {
                if (item.UsedFor.Equals("R"))
                {
                    <tr class="table-secondary" >
                        @*<th scope="row">@item.Id</th>*@
                        <td>@item.CompanyName</td>
                        <td>@Html.ActionLink(@item.BrandName, "Product", "Search", new { @Id = item.Id }, null)</td>
                        <td>@item.GenericElements</td>
                        <td>@item.ElementsQuantity</td>
                        <td>@item.MedicineType</td>
                        <td>@item.Price</td>
                        <td>@item.UsedFor</td>
                        <td>@item.DAR</td>
                    </tr>
                }
                if (item.UsedFor.Equals("Human"))
                {
                    <tr class="table-info">
                        @*<th scope="row">@item.Id</th>*@
                        <td>@item.CompanyName</td>
                        <td>@Html.ActionLink(@item.BrandName, "Product", "Search", new { @Id = item.Id }, null)</td>
                        <td>@item.GenericElements</td>
                        <td>@item.ElementsQuantity</td>
                        <td>@item.MedicineType</td>
                        <td>@item.Price</td>
                        <td>@item.UsedFor</td>
                        <td>@item.DAR</td>
                    </tr>
                }
                if (item.UsedFor.Equals("Veterinary"))
                {
                    <tr class="table-warning" >
                        @*<th scope="row">@item.Id</th>*@
                        <td>@item.CompanyName</td>
                        <td>@Html.ActionLink(@item.BrandName, "Product", "Search", new { @Id = item.Id }, null)</td>
                        <td>@item.GenericElements</td>
                        <td>@item.ElementsQuantity</td>
                        <td>@item.MedicineType</td>
                        <td>@item.Price</td>
                        <td>@item.UsedFor</td>
                        <td>@item.DAR</td>
                    </tr>
                }
            }
        </tbody>
    </table>


